h4 {
	text-transform: uppercase;
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
}

.service-heading {
	text-transform: uppercase;
}

.team-member h4 {
	text-transform: uppercase;
	padding-bottom: 20px;
}

.portfolio-modal .modal-content h2 {
	text-transform: uppercase;
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
}

#portfolio .portfolio-item .portfolio-caption h4 {
	text-transform: uppercase;
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
}

#portfolio .portfolio-item .portfolio-caption p {
	font-family: "Open Sans", "san-serif";
	font-style: normal;
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 0.0425em;
}

.text-muted {
	font-family: "Open Sans", "san-serif";
	font-style: normal;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 0.0425em;
	margin: 0px 20px 40px 20px;
}

.portfolio-modal .modal-content p.item-intro {
	font-family: "Open Sans", "san-serif";
	font-style: normal;
	font-size: 16px;
	font-weight: 300;
}

.portfolio-modal .modal-content p {
	font-family: "Open Sans", "san-serif";
	font-style: normal;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.0425em;
	margin: 0 0 40px;
}

a {
    color: #FA023E;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #FA023E;
}

.list-inline li {
	font-family: "Open Sans", "san-serif";
	font-style: normal;
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 0.0425em;
}

section h3.section-subheading {
	font-family: "Open Sans", "san-serif";
	font-style: normal;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.0625em;
	line-height: 1.5;
}

.navbar-brand {
	background-image: url(../img/logos/cpxl_logo_xs@2x.png);
	background-repeat: no-repeat;
	background-position: 30px;
    background-size: 75%;
}

.navbar-linktop {
	position: relative;
	top: 0px;
	left: 15px;
	width: 160px;
    background-color: transparent;
}

header .intro-text .intro-heading {
    margin-bottom: 40px;
    text-transform: uppercase;
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 200;
    line-height: 28px;
}

header .intro-text .intro-lead-in {
	margin-bottom: 0px;
}

.center-image {
	display: inline;
}

.modal-content {
  overflow-y: auto; 
  height: 100%;
}

.btn-primary {
	font-family: "Raleway", "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
	letter-spacing: 0.0425em;
}

.bg-dark-gray {
	background-color: #C3C3C3;
	padding: 30px 20px 5px 20px;
	margin-bottom: 20px;
}
